.dynamically-inserted .minibutton .octicon {
  margin-right: 0;
}

.wrapper .site {
  padding: 0 64px;
}

.wrapper .container {
  width: auto;
  box-sizing: border-box;
}

.wrapper .container .repository-sidebar {
  padding-right: 10px;
  position: absolute;
  right: 55px;
}

.wrapper .container .repository-content {
  width: auto;
  float: none;
  margin-right: 50px;
}

.wrapper .container .repo-container.with-full-navigation .repository-content {
  width: auto;
  margin-right: 185px;
}

.wrapper .container #discussion_bucket .discussion-timeline {
  width: auto;
  margin-right: 105px;
}

.wrapper .container .columns.profilecols .last {
  float: none;
  width: auto;
  margin-left: 235px;
}

.wrapper .container .columns.profilecols .last .activity-tab div.clearfix {
  display: none;
}

.wrapper .container .columns.profilecols .last .box-small .box-header {
  height: 36px;
}

.inline-comment-form,
.comment-holder {
  max-width: 100% !important;
}

#files {
  padding-left: 21px;
}

@media screen and (max-width: 1094px) {
  .wrapper .container .repository-sidebar {
    display: none;
  }

  .wrapper .container .repository-content {
    margin-right: 0;
  }

  .wrapper .container .repo-container.with-full-navigation .repository-content {
    margin-right: 0;
  }
}